<div class="footer w3-container w3-indigo w3-padding-48 w3-padding-large">
    <div class="w3-cell-row moje">
    
      <div class="w3-container w3-cell" >
          <h4>KONTAKT</h4>
        <p class="w3-small"><a href="https://goo.gl/maps/qM3R67rdME5wxDuX7"><i class="fas fa-map-marker-alt"></i> Bujska 36, Rijeka</a></p>
        <p class="w3-small"><a href="tel:+385914182000"><i class="fas fa-mobile-alt"></i> +385 91 418 2000</a></p>
       
        <p class="w3-small">Radno vrijeme:<br>svakim danom 07-22</p>
      </div>
    
      <div class="w3-container w3-cell w3-xlarge w3-center">
        <h4>DRUŠTVENE MREŽE</h4>
              <a href="https://www.facebook.com/profile.php?id=1165940456"><i class="fab fa-facebook"></i></a>
              <a href="https://api.whatsapp.com/send?phone=+385914182000"><i class="fab fa-whatsapp w3-margin"></i></a>
              <a href="viber://contact?number=+385914182000"><i class="fab fa-viber w3-margin-right"></i></a>
              <a href="https://www.instagram.com/dama_wash/"><i class="fab fa-instagram"></i></a>
        
      </div>
    
    </div>
    </div>
