<div class="footer w3-container w3-indigo w3-padding-48 w3-padding-large">
    <div class="w3-cell-row moje">
    
      <div class="w3-container w3-cell" >
          <h4>KONTAKT</h4>
        <p class="w3-small"><i class="fas fa-map-marker-alt"></i> Vere Bratonje 29, Rijeka</p>
        <p class="w3-small"><i class="fas fa-mobile-alt"></i> +385 91 418 2000</p>
        
        <p class="w3-small">Radno vrijeme:<br>svakim danom 07-22</p>
      </div>
    
      <div class="w3-container w3-cell w3-xlarge w3-center">
        <h4>DRUŠTVENE MREŽE</h4>
              <i class="fab fa-facebook"></i>
                 <i class="fab fa-whatsapp w3-margin"></i>
                <i class="fab fa-viber"></i>
        
      </div>
    
    </div>
    </div>
