<h2>O nama</h2>
<div class="w3-roboto w3-large">
    <p style="padding-bottom:16px"><b>Naše usluge dostupne su 7 dana u tjednu  privatnim i poslovnim klijentima u Rijeci i okolici, a po potrebi i dalje.</b></p>
    <table class="w3-table w3-bordered w3-mobile">
        <tr>
            <td>Vlasnik</td>
            <td>Marko Šimpraga</td>
        </tr>
        <tr>
            <td>Mobitel</td>
            <td><a href="tel:+385914182000">091 418 2000</a></td>
        </tr>
        <tr>
            <td>Mail</td>
            <td><a href="mailto:info.damawash@gmail.com">info.damawash@gmail.com</a></td>
        </tr>
        <tr>
            <td>Facebook</td>
            <td><a href="https://www.facebook.com/profile.php?id=1165940456">Damawash</a></td>
        </tr>
    </table>
    <br>
    
    <a routerLink="/contact"><div class="w3-panel w3-blue w3-card-4 w3-center">
      <p>SLOBODNO NAM SE OBRATITE ZA  NEOBAVEZNU I BESPLATNU PONUDU!</p>
    </div></a>
    
    </div>