<div class="moje">
<h2 class="w3-container">Kontaktirajte nas</h2>
<div class="w3-container w3-xlarge w3-center">
  <h4>Nazovite nas ili nam pošaljite poruku:</h4>
  <p style="margin-top:10px;margin-bottom: 20px;font-weight: bold;">
    <a href="tel:+385914182000" title="Broj mobitela"><i class="fas fa-mobile-alt"></i> 091 418 2000</a>
  </p>
  <a href="https://api.whatsapp.com/send?phone=+385914182000" title="WhatsApp"><i class="fab fa-whatsapp w3-margin-right largetext"></i></a>
  <a href="viber://chat?number=%2B385914182000" title="Viber"><i class="fab fa-viber w3-margin-right largetext"></i></a>
  <a href="https://m.me/1165940456" title="Messenger"><i class="fab fa-facebook-messenger w3-margin-right largetext"></i></a>
  <a href="https://www.instagram.com/dubinsko_ciscenje_damawash/" title="Instagram"><i class="fab fa-instagram largetext"></i></a>
  <p style="margin-top:10px;margin-bottom: 20px;font-weight: bold;"  class="w3-large">
    <a href="mailto:info.damawash@gmail.com" title="E-mail"><i class="fas fa-envelope"></i> info.damawash@gmail.com</a>
  </p>
</div>
<h3 class="w3-container">Naša lokacija:</h3>
<div class="mapouter">
    <div class="gmap_canvas">
        <iframe width="100%" height="500" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2804.368955612431!2d14.380548976624734!3d45.34136394162563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4764a6e40d6154f3%3A0x9f556c1c550e720e!2zRGFtYXdhc2ggZHViaW5za28gxI1pxaHEh2VuamU!5e0!3m2!1shr!2shu!4v1701337207312!5m2!1shr!2shu" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <style>.mapouter{position:relative;text-align:right;margin-bottom: 20px;}.gmap_canvas {overflow:hidden;background:none!important; }</style>
</div>
</div>