<h2>Cjenik</h2>
<p>U cijene je uključen PDV.</p>
  <table class="w3-table" style="background-color: #0096d8;color:white">
    <tr style="background-color: #4d4b62">
      <th>Objekt</th>
      <th>Cijena</th>
    </tr>
    <tr>
      <td>Dubinsko čišćenje automobila (sva sjedišta, pod, bunker)</td>
      <td>60 € (452.07 kn)</td>
    </tr>
    <tr>
      <td style="padding-left:30px">+ vanjsko čišćenje automobila</td>
      <td>10 € (75.53 kn)</td>
    </tr>
    <tr>
      <td>Klasična i L garnitura</td>
      <td>40/50 € (301.38/376.73 kn)</td>
    </tr>
    <tr>
      <td>Fotelja</td>
      <td>25 € (188.36 kn)</td>
    </tr>
    <tr>
      <td>Dvosjed</td>
      <td>35 € (263.71 kn)</td>
    </tr>
    <tr>
      <td>Stolica</td>
      <td>3-6 € (22.60-45.21 kn)</td>
    </tr>
    <tr>
      <td>Trosjed, dvosjed i fotelja</td>
      <td>80 € (602.76 kn)</td>
    </tr>
    <tr>
      <td>Poliranje farova (oba)</td>
      <td>30 € (226.04 kn)</td>
    </tr>
  </table>
  <p class="w3-center w3-padding">TEČAJ: 1 EUR = 7.53450 HRK</p>
<h4 class="w3-center w3-padding">Za sve ostalo po dogovoru.</h4>
<br>