<h2>Cjenik</h2>
<p>U cijene je uključen PDV</p>
  <table class="w3-table w3-blue">
    <tr style="background-color: #3f51b5">
      <th>Objekt</th>
      <th>Cijena</th>
    </tr>
    <tr>
      <td>Dubinsko čišćenje automobila (sva sjedišta, pod, bunker)</td>
      <td>400</td>
    </tr>
    <tr>
      <td>+ vanjsko čišćenje automobila</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Klasična i L garnitura</td>
      <td>300</td>
    </tr>
    <tr>
      <td>Fotelja</td>
      <td>150</td>
    </tr>
    <tr>
      <td>Dvosjed</td>
      <td>200</td>
    </tr>
    <tr>
      <td>Stolica</td>
      <td>25</td>
    </tr>
    <tr>
      <td>Trosjed, dvosjed i fotelja</td>
      <td>500</td>
    </tr>
    <tr>
      <td>Poliranje farova od</td>
      <td>75</td>
    </tr>
  </table>  
<h4 class="w3-center w3-padding">Za sve ostalo po dogovoru.</h4>