

<div class="w3-container moje">
    <div class="w3-padding-16 center-on-mobile" style="max-width: 1200px;">
  

      <div class="w3-container w3-cell w3-padding-xlarge  w3-cell-middle" style="padding-left: 0;">
       <img [@openClose]="opened ? 'open' : 'closed'" class="w3-image anim-left" src="assets/images/shark2.svg" style="width: 122px;">
     </div>
     
     <div class="w3-container w3-cell" style="padding:0;min-width: 224px;">
       <h1 style="margin-bottom: 0;margin-top:0px">damawash</h1>
       <p style="margin-top: 0;">USLUGE DUBINSKOG ČIŠĆENJA</p>
     </div> 
     
     
     </div>
    </div>
     <div class="w3-bar w3-indigo w3-large">
      <div class="container moje">
          <!--<button class="w3-button w3-xlarge w3-mobile" id="navigacijaopen" style="color:white;" (click)="goggle()">{{ opened ? '╳' : '&#9776;' }}</button>-->
          <div class="w3-indigo center-on-mobile" id="navigacija" [ngClass]="!opened ? '' : ''" style="max-width:1200px;width: fit-content;">
              <a class="w3-button" routerLink="/" (click)="navigateToHome()" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-link">Naslovna</a>
              <a class="w3-button" routerLink="/prices" (click)="navigateToPrices()" routerLinkActive="active-link">Cjenik</a>
              <a class="w3-button" routerLink="/contact" (click)="navigateToContact()" routerLinkActive="active-link">Kontakt</a>
              <a class="w3-button" routerLink="/about" (click)="navigateToAbout()" routerLinkActive="active-link">O nama</a>
          </div>
      </div>
  </div>

<!--
    <div class="w3-bar w3-indigo w3-large">
        <div class="container moje">
            <button class="w3-button w3-xlarge w3-hide-medium w3-hide-large w3-mobile" id="navigacijaopen" style="color:white;" (click)="goggle()">{{ opened ? '╳' : '&#9776;' }}</button>
            <div class="w3-indigo" id="navigacija" [ngClass]="!opened ? 'w3-hide-small' : ''" style="max-width:1200px">
                <a class="w3-bar-item w3-button w3-mobile" routerLink="/" (click)="navigateToHome()" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-link">Naslovna</a>
                <a class="w3-bar-item w3-button w3-mobile" routerLink="/prices" (click)="navigateToPrices()" routerLinkActive="active-link">Cjenik</a>
                <a class="w3-bar-item w3-button w3-mobile" routerLink="/contact" (click)="navigateToContact()" routerLinkActive="active-link">Kontakt</a>
                <a class="w3-bar-item w3-button w3-mobile" routerLink="/about" (click)="navigateToAbout()" routerLinkActive="active-link">O nama</a>
            </div>
        </div>
    </div>-->