@keyframes example {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }
#navigacija{
  animation-name: example;
  animation-duration: 0.8s;
}
.active-link{
  font-weight: bold;
}
.w3-button:hover{
  background: #006795;/*#00608a*/
}
.anim-left{
  position: relative;
  animation: animateleft 0.8s;
}


@media only screen and (max-width: 1200px) {
  .center-on-mobile { width: fit-content;margin-left: auto;margin-right: auto; }}

  @media only screen and (max-width: 400px) {
    .w3-btn, .w3-button { padding: 8px 12px; }}

    @media only screen and (max-width: 370px) {
      .w3-btn, .w3-button { padding: 8px 10px; }}

      @media only screen and (max-width: 350px) {
        .w3-btn, .w3-button { padding: 8px 7px; }}